.teks {
    padding: 20px 20px;
    margin: auto;
    align-content: center;
}

#datamhs{
  padding: 20px;
  text-align: center;
  font-size: 24;
}

#judul {
  padding: 20px;
  text-align: center;
}
.paragraf {
  margin: 20px;
  text-align: center;
}

#navbar {
  padding: 10px;
  margin: 10px 10px 10px 20px;
}

.lihattambahdata {
  padding: 10px;
  margin: 10px;
  align-content: center;
}

.gender {
  padding: 10px;
  margin: 10px;
  align-content: center;
}

#form-label {
  padding: 10px;
  margin: 10px;
  align-content: center;
}